body {
  margin: 0;
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

ul li a {
  font-size: 18px;
  font-family: 'Mulish';
  color: hsla(259, 42%, 14%, 0.5);
  text-decoration: none;
}

ul li a:hover {
  font-weight: bold;
  color: #1f1534;
}

h1 {
  font-family: 'Mulish';
  font-size: 49px;
  text-align: left;
  line-height: 56px;
  width: 489px;
  height: 112px;
  font-weight: normal;
}

span {
  font-weight: bold;
  color: #89c5cc;
}

section p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #7d7987;
  margin: 40px 0;
  line-height: 28px;
  width: 438px;
  height: 84px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  color: white;
  text-transform: uppercase; 
  font-family: 'Open Sans', sans-serif;
  background: #69B99D;
  border: 0;
  border-radius: 4px;
  padding: 14px 32px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

button:hover {
  background: #47a081;
}

footer {
  font-family: 'Open Sans', sans-serif;
  color: 000;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
  color: #1f1534;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}

